*Sorry you cant to leave a comment*. *Try to authorize yourself via login and password or use a one of social networks below*:
<form method="post" action="~language_prefix~/login" class="row">
    <div class="w66 sm-w100">
        <div class="row">
		    <input name="login" placeholder="*Email*" type="text" class="w33">
            <input name="password" placeholder="*Password*" type="password" class="w33">
            <button type="submit" class="btn w33"><i class="fa fa-sign-in"></i>*Sign in*</button>
        </div>
    </div><!--
 --><div class="w33 sm-w100">
        <div class="row txt-r sm-txt-c">
            <a href="~language_prefix~/social/fb" class="btn" title="Facebook"><i class="fa fa-facebook-official single" aria-hidden="true"></i></a>
            <a href="~language_prefix~/social/li" class="btn" title="Linkedin"><i class="fa fa-linkedin-square single" aria-hidden="true"></i></a>
            <a href="~language_prefix~/social/go" class="btn" title="Google"><i class="fa fa-google single" aria-hidden="true"></i></a>
            <a href="~language_prefix~/social/in" class="btn" title="Instagram"><i class="fa fa-instagram single" aria-hidden="true"></i></a>
        </div>
    </div>
</form>