<div class="comment" data-m-id="~id~">
    <div class="img"><img src="~avatar~" /></div><!--
 --><div class="comment-data">
        <div class="name">~name~</div><div class="date">~beauty_date~~beauty_date_edited~</div>
        <div class="comment-body">~comment~</div>
		<div class="options"><!--user--><a href="#reply" title="*Reply*"><i class="fa fa-reply"></i></a><!--end user--><!--author--><a href="#edit" title="*Edit*"><i class="fa fa-pencil"></i></a><a href="#delete" title="*Delete*" data-m-confirm="*Are you sure to delete this comment*?"><i class="fa fa-trash"></i></a><!--end author--></div>
    </div>
</div>
<div class="replies">~replies~</div>