<div class="additional-links">
    <!--<a href="~language_prefix~/~pagename~/comments/add" title="*Add new comment*"><i class="fa fa-file-o"></i></a>-->
</div>
<table cellpadding="0" cellspacing="0" class="admin-overview">
<thead>
    <tr>
        <th width="10%"></th>
        <th width="5%" class="text-left">Id</th>
        <th width="5%">*Reply*</th>
        <th width="15%" class="text-left">*Page*</th>
        <th width="15%" class="text-left">*Object*</th>
        <th width="10%">*Author*</th>
        <th width="30%">*Comment*</th>
        <th width="10%">*Date*</th>
    </tr>
</thead>
<tbody data-m-action="drag_sort" data-m-model="modules\articles\models\articles">
    ~items~
</tbody>
</table>