<!--<tr data-id="~id~" data-sequence="~sequence~">
    <td width="15%">
        <i class="move"></i>
        <a href="~language_prefix~/~pagename~/articles/edit/~id~"
           title="*Edit*"
           class="edit"><i class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/articles/delete/~id~"
           title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this article*?');"
           class="delete"><i class="fa fa-trash-o"></i>
        </a>
        <a href="~path~"
           title="*View this article*"
           target="_blank"
           class="btn-white"><i class="fa fa-eye"></i>
        </a>
        <a href="~language_prefix~/~pagename~/articles/duplicate/~id~"
           title="*Duplicate this article*"
           class="btn-white"><i class="fa fa-clone"></i>
        </a>
    </td>
    <td width="25%" class="text-left"><a href="~path~" target="_blank" title="*View this article*">~path~</a></td>
    <td width="40%" class="text-left">~title~</td>
    <td width="10%"><i class="fa check-~published~"></i></td>
    <td width="10">~date~</td>
</tr>-->

<tr>
    <td width="10%">
        <a href="~language_prefix~/~pagename~/comments/edit/~id~" title="*Edit*" class="edit"><i
                class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/comments/delete/~id~"
           title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this*?');"
           class="delete"><i class="fa fa-trash-o"></i>
        </a>
    </td>
    <td width="5%" class="text-left">~id~</td>
    <td width="5%" class="text-left"><a href="~language_prefix~/~pagename~/comments/edit/~id~">~reply~</a></td>
    <td width="15%" class="text-left"><a href="~language_prefix~/~pagename~/pages/edit/~page~">~page_name~</a></td>
    <td width="15%" class="text-left"><a href="~language_prefix~/~target_path~" target="_blank">~target_name~</a></td>
    <td width="10%" class="text-left">~name~</td>
    <td width="30%" class="text-left">~comment~</td>
    <td width="10%" class="text-left">~beauty_date~</td>
</tr>